body {
	background-color: lavendar;
}

* {
 font-family: Georgia;
}

.mainText {
  text-align: justify; 
  padding: 10px; 
  font-size: 10px;
  border-radius: 20px;
  width: 500px ;
  margin:auto;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightslategray;
  color: white;
  text-align: center;
}

.photo-cont{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /*display:inline-block;
    position: centre;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-right: auto;*/
}

/*#my_camera{
    float: center;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}
*/
