body {
	background-color: azure;
}

.mainText {
  text-align: justify; 
  padding: 20px 10px; 
  font-size: 15px;
  border-radius: 25px;
  width: 700px ;
  margin: 0  auto;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#photo-cont{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#my_camera{
    float: left;
    padding-right: 30px;
}

#results{
    float: left;
}
